@charset "utf-8"; /* <<인코딩 해주기위해 적음 */

* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none; color: #333;}
html, body {
    color: #333; /* 이걸 안해주면 완전 투박한 검정색이 나오기때문에 해준다. */
    /*min-width: 1280px;*/ /* 화면의 최소단위, 1280이하의 해상도에서도 1280로 볼수있도록 하는것! ,모바일에서도 1280의 레이아웃으로 볼 수 있도록 설정해주는것! */
}
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SuncheonB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/SuncheonB.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* 여기서부터 header 시작 */
header {
    height: 80px;
    line-height: 80px; /* 높이와 동일한 높이를 line-height에 적용할때 한줄일때만 가능 */
}
header div {
    width: 1280px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    }
header div h1 a {
    font-size: 25px;
}
header div i {
    font-size: 50px; /* div 안에있는 모든 a는 20px적용 , 그러면 h1안에있는 a는 적용xx? */
    /* background-color: #ff3776; */
    margin-top: 20px;
    color: #4b4949;
}

/* 여기서부터 .main_visual 시작 */
.main_visual {
    width: 100%;
    /* height: 100vh; vh해주는 이유 뭐엿지?? */
    height: calc(100vh-80px); /* 100vh를 사용할건데 80px를 빼줌, 높이를 설정해주는 공식, calc << 함수같은거 */
    /* 높이 : 브라우저 전체높이 - 헤더값 */
    /* background-color: blueviolet; */
    position: relative; /* 앱솔룹스가 움직일 수 있는 축을 설정, !!안잡아주면 브라우저 자체가 축이됌!! */
}
.main_visual figure {
    width: 100%;
    height: 100%;
    background-color: #f36a6a;
}
.main_visual figure img {
    width: 100%;
    height: 100%;
    object-fit: cover ; /* 그 영역을 다 덮어줄 수 있도록 object-fit: cover */
}
.main_visual figure video {
    /* width: 100%; */
    height: 100%;
    object-fit: cover;
}
.main_visual .title {
    
    margin: 0;
    position: absolute;
    left: 50%;
    top: 0;
    color: #fff;
    /* background-color: rgb(245, 181, 6); */
    height: 100%;
    width: 1280px /* 백그라운드 컬러로 보면 width height 값 주고 안주고의 차이 알게됌 */;
    display: flex;
    flex-wrap:wrap;
    align-content: center;
    transform: translateX(-50%); /* => 자신이 가지고 있는 크기의 반만큼만 이동시켜 주겠다 , 
    position:absolute 쓰면 margin:0 auto가 사용xx, 그래서 중간에 보내기위해 이거 씀!*/
    /* 변형 : 이동x축 -> 본인이 가진 너비의 반만큼 역으로 이동 */
}
.main_visual .title h2 {
    width: 100%;
    font-size: 75px;
    font-family: 'Recipekorea';
    color: #645c5c
}
.main_visual .title p {
    width: 100%;
    /* background-color: antiquewhite; */
    font-size: 30px;
    margin-bottom: 40px;
    font-family: 'Recipekorea';
    color: rgb(88, 85, 85);
}
.main_visual .title a {
    color: #fff; /* .title에 흰색 줬는데 왜 a는 따로 색 줘야해?? */
    width: 150px;
    height: 50px;
    line-height: 50px;
    background-color: rgb(255, 44, 44);
    text-align: center;
    display: block; /* animation효과 주니까 박스가 작아져서 block 줬음 */
    font-family: 'SuncheonB';
}

/* .best_v 시작 */
.best_v {
    padding: 100px 0;
    background-color: #fdf5f3;
}
.best_v .title {
    text-align: center;
    margin-bottom: 40px;
}
.best_v .title h3 {
    font-size: 40px;
    font-family: 'Recipekorea';
    color: #f55b68;
}
.best_v .title p {
    font-size: 20px;
    font-family: 'SuncheonB';
    width: 200px;
    background-color: #ffd0d0a6;
    margin: 0 auto;
    padding: 8px;
    border-radius: 20px;
    color: #f36a6a;
}
.best_v .cont {
    width: 1280px;
    /* background-color: rgb(231, 80, 80); */
    margin: 0 auto;
    display: flex;
    justify-content: space-between; /* 양끝으로 안붙여질때가 있는데 그건 <p>가 단락이 바껴서 그렇댕ㅎㅎ */
    align-items: center;
    
    /* 
    가로 : 1280px
    1280을 화면 가운데 배치
    유튜브, info 가로로 나열
    양끝에 붙여서 정렬
    수직가운데 정렬 */
}
.best_v .cont .youtube {
    /* background-color: rgb(4, 0, 252); */
    width: 50%;
}
.best_v .cont .youtube .youtube_in {
    width: 100%; /* 부모가 가지고 있는 영역 전체 가질 수 있도록 ! 100% 줌!! */
    padding-bottom: 56.25%;
    /* 화면비율 16:9 공식 */
    background-color: black;
    position: relative; /* 축뿐만 아니라 absolute있는 그아이를 가로 세로를 조절도 할수있다? */
}
.best_v .cont .youtube .youtube_in iframe {
    width: 100%;
    height: 100%;
    position: absolute; 
    top: 0;
    left: 0;
    }
.best_v .cont .info {
    width: 40%;
    margin-right: 60px;
    background-color: #fdf5f3;
    
}
.best_v .cont .info p:nth-of-type(1) {
    font-family: 'GangwonEdu_OTFBoldA';
    font-size: 18px;
    margin-top: 6px;
}
.best_v .cont .info h4 {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: 'SuncheonB';
}
.best_v .cont .info p:nth-of-type(2) {  /* ?:nth-of-type() -> 다른 태그들이 섞여있을때  */
    /* 외부여백 위20px dkfo 40px */
    margin: 20px 0 40px;}
.best_v .cont .info dl {
    display: flex;
    margin-bottom: 10px;
}
.best_v .cont .info dl dt {
    font-weight: bold;
    width: 100px; 
    font-family: 'BMJUA';
    color: #363535;
}
.best_v .cont .info dl dd {
    font-family: 'GangwonEdu_OTFBoldA';
}
.best_v .cont .info ul {
    display: flex;
}
.best_v .cont .info ul li a {
    height: 45px;
    background-color: rgb(117, 117, 117);
    line-height: 45px;
    border: 1px solid rgba(255, 255, 255, 0.829);
    box-sizing: border-box;
    display: block;
    /* 테두리를 포함해서 높이 (45px)가 잡힐 수 있도록 설정 */
    padding: 0 25px;
    margin-right: 10px;
    color: #fff;
    border-radius: 20px
}
.best_v .cont .info ul li:nth-child(1) a {  /* ul안에 li중에서 첫번째 안에있는 a태그 */
    background-color: rgb(28, 125, 253);
    color: #fff
} 


/* 모션그래픽 .css */
.motion {
    padding: 100px 0;
    background-color: #fdf5f3;
}
.motion .info {
    background-color: #fff;
}
.motion .title {
    text-align: center;
    margin-bottom: 35px;
}
.motion .title h3 {
    font-size: 45px;
    font-family: 'Recipekorea';
    color: #f55b68;
}
.motion .title p {
    font-size: 20px;
    font-family: 'SuncheonB';
    background-color:#ffd0d0a6;
    width: 400px;
    margin: 0 auto;
    padding: 8px;
    border-radius: 20px;
    box-sizing: border-box;
    color: #584747;
}
.motion .list {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-family: 'SuncheonB';
}
.motion .list_cont .items .info h4 {
    font-family: 'Cafe24Ssurround';
    color: #f7818b;
}
.motion .list_cont .items .info p {
    font-family: 'GangwonEdu_OTFBoldA';
}
.motion .list li {
    height: 45px;
    line-height: 45px;
    border: 1px solid #ccc;
    padding: 0 30px; /* width값으로 여백을 주는게 아닌이유는 글자수마다 여백이 다르기때문 */
    margin: 0 5px;
    box-sizing: border-box;
    cursor: pointer;
    /* 마우스모양 : 손모양 */
    border-radius: 30px;
    background-color: #fff;
    }
.motion .list_cont .items .info dl dt {
    font-family: 'BMJUA';
    color: #564f50;
}
.motion .list_cont .items .info dl dd {
    font-family: 'GangwonEdu_OTFBoldA';
}
.motion .list li.on {
    background-color: #ff3776;
    color: #fff;
    border: 0;
    box-shadow: 2px 3px 15px rgba(255, 93, 93, 0.432); /* x축 y축 어느정도 블러를 줄거냐? */
    /* 그림자 : x축 y축 블러(퍼짐정도) 색상 */
}

.motion .motion_cont .list_cont {
    width: 1280px;
    margin: 0 auto;
    /* display: flex; 후박작업으로, flex였던거를 none으로 바꿔서 안보이게 했다가 보이게 할거다*/
    display: none;
    justify-content: space-between; /* 양끝에 붙여서 수평정렬 */
}
.motion .motion_cont .list_cont.on { /* 띄우는건 부모와 자식간의 관계! 그래서 .on을 붙여서 적는다 */
    display: flex;
}
.motion .motion_cont .list_cont .items {
    width: 49%;
    border: 1px solid #ccc;
    box-sizing: border-box; /* items의 가로 크기를 49% 잡아놨는데, 테두리 1px씩 추가되면서 => 49% + 2px의 가로 크기 늘어남
                                그래서 테두리 포함해서 49% 되도록 잡기위해 box-sizing: border-box해줌! */    
}
/*  여기서부턴 유튜브 영상 크기 조절  */
.youtube {
    width: 100%;
}
.youtube .youtube_in {
    width: 100%;
    padding-bottom: 56.25%; /* 유튜브 비율이 안맞아서 재생해보면 검은화면 뜨는걸 
     화면비율 16:9 비율로 맞춰지도록 해줌!! 이건 그냥 공식처럼 외워야함~!!*/
     position: relative; /* 유튜브 인에 맞춰서 아이프레임이 올라가도록? */
}
.youtube .youtube_in iframe {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.motion .list_cont .items .info {
    padding: 30px;
}
.motion .list_cont .items .info h4 {
    font-size: 30px;
    margin-bottom: 20px;
}
.motion .list_cont .items .info dl {
    display: flex;
    margin-top: 10px;
}
.motion .list_cont .items .info dl dt {
    width: 20%;
    font-weight: bold;
    /* background-color: black; */
}
.motion .list_cont .items .info dl dd:hover a { /* dd에 커서를 올렸을때 a태그에~ */
    text-decoration: underline;
}

/* .g_ver05 */
.g_ver05 {
    background-color: #fdf5f3;
    padding: 100px 0;
}
.g_ver05 .title {
    /* background-color: rgb(243, 137, 7); */
    text-align: center;
    margin: 0 auto;
}
.g_ver05 .title h3 {
    font-size: 45px;
    font-family: 'Recipekorea';
    color: #f55b68
}
.g_ver05 .title p {
    font-size: 20px;
    font-family: 'SuncheonB';
    color: #584747;
}
.g_ver05 .title em {
    /* 글자크기 :13px
       텍스트 오른쪽 정렬
       내부여백 위로 40px */
       /* background-color: rgb(226, 248, 24); */
       font-size: 13px;
       width: 1280px;
       display: block;
       text-align: right;
       margin: 40px 0 10px;
       margin: 0 auto;

}

.g_ver05 .cont {
    display: flex;
    /* background-color: aqua; */
    width: 1280px;
    margin: 0 auto;
    justify-content: space-between; /* -> 이걸로 인해서 오른쪽에 있던 .items의 2%여백이 중간에 생김! */
}
.g_ver05 .cont .items {
    width: 49%; /* 2%의 여백이 남음 */
    background-color: #fff;
    display: flex;
    align-items: center;
    /* 한줄일 때 수직정렬 : 가운데 */
}
.g_ver05 .cont .items figure {
    /* 가로 : 60% 
       세로 : 500px*/
       width: 60%;
       height: 500px;
       background-color: beige;
}
.g_ver05 .cont .items figure img {
    /*figure가 가진 가로 세로영역 딱 맞게 넣고 비율 맞추 전체 덮이도록 설정*/
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이 작업을 안해주면 포토샵으로 비율 다맞추고 번거로움이 있다.?? */
}
.g_ver05 .cont .items .info {
    /* 가로 : 40%
       내부여백-외쪽 20px
       여백을 포함해서 가로값 잡히도록 설정 */
    width: 40%;
    padding-left: 20px;
    box-sizing: border-box;
    /* background-color: rgb(9, 161, 111); */
    padding-bottom: 4px;
}
.g_ver05 .cont .items .info p {
    font-size: 14px;
}
.g_ver05 .cont .items:nth-child(1) .info p {
    margin-bottom: 4px;
}
.g_ver05 .cont .items .info p:nth-child(2) {margin-bottom: 4px;}
.g_ver05 .cont .items .info h4 {
    font-size: 30px;
    font-family: 'Cafe24Ssurround';
}

/* g_ver06 */
.g_ver06 {
    background-color: #fdf5f3;
    padding: 37px 0px 100px;
}
.g_ver06 .title {
    color: #fff;
    text-align: center;
    width: 1440px;
    margin: 0 auto;
    text-align: right;
}
.g_ver06 .title h3 {
    font-size: 45px;
    color: #f55b68;
}
.g_ver06 .title p {
    font-size: 20px;
    color: #f55b68;
}
.g_ver06 .title em {
    color: #333;
    font-size: 13px;
    /* 위 여백 : 40px
    아래 여백 : 10px */
    /* margin: 40px 0 10px; */
    /* 외부여백 : 위 좌우 하 */
    /* background-color: rgb(8, 145, 236); */
    
    display: block; /* margin을 넣었는데 표가 안난다?? 백그라운드 컬러로 확인해보면 인라인요소인걸
    확인을 할 수 있다!! 블랙요소로 바꿔주면 margin이 다시 적용됌~! */

    text-align: right; /* 오른쪽에 배치했는데 맨끝에 붙는다...이건 title 영역 범위가 창 전체로 되있어서 그렇다!!
                          그래서 title의 박스를 width값 넣고 margin으로 범위정하고 중앙으로 위치하게함~! */
}
.g_ver06 .cont {
    display: flex; /* 아이템들을 가로로 나열시켜준다*/
    width: 1440px;
    /*background-color: aqua;*/ /* 백그라운드 컬러는 영역 확인을 위해서 쓰고, 나중에 지운다 */
    margin: 0 auto;
    justify-content: space-between;
  }
.g_ver06 .cont .items {
    width: 23%; /* 딱 맞게 들어갈거면 25%씩 넣어주고 여백 필요하면 더 낮은수치~ */
    background-color: #fff;
    padding: 25px;
    box-sizing: border-box;
    border-radius: 30px;
  }
.g_ver06 .cont .items figure {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
.g_ver06 .cont .items figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.8s;
  }
  .g_ver06 .cont .items .info {
      margin: 30px 0;
  }
  .g_ver06 .cont .items .info p{
      font-size: 14px;
      margin-bottom: 15px;
  }
  .g_ver06 .cont .items .info h4 {
      font-size: 20px;
  }
  .g_ver06 .cont .items:hover figure img {
    transform: scale(1.5);  /* 뜻: items에 올렸을때 피규어 안에 있는 이미지한테!! ()이미지의 몇배를 늘려지게 할거냐? 넣는곳 */
}
/* .about */
.about {
    padding: 100px 0;
}
.about .cont {
    width: 1280px;
    /* background-color: antiquewhite; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about .cont .figure {
    width: 30%;
    height: 500px;
    background-color: aquamarine;
}
.about .cont .figure .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about .cont .info {
    width: 60%;
    display: flex;
    /* background-color: rgb(231, 119, 15); */
    flex-wrap: wrap;
    justify-content: space-between;
}
.about .cont .info div p {
    font-size: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
}
.about .cont .info div {
    width: 45%;
    /* background-color: aquamarine; */
    margin: 20px 0;
}
.about .cont .info div h4 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Recipekorea';
}
.about .cont .info div dl dt {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}
.about .cont .info div dl dd {
    font-size: 20px;
    font-family: 'GangwonEdu_OTFBoldA';
}

footer {
    background-color: #fac6ca;
    text-align: center;
    color: rgb(97, 77, 77);
    padding: 100px 0;
    font-weight: bold;
}
footer ul li {
    /* 가로 : 220px
       세로 : 50px
       글자 수직 가운데 정렬
       테두리 : 1px solid 색상
       모서리곡선 : 50px
       외부여백 : 위아래 10px 좌우 자동? */
       /* background-color: #ccc; */
       width: 232px;
       height: 50px;
       line-height: 50px;
       border: 3px solid rgba(255, 255, 255, 0.781);
       border-radius: 50px;
       margin: 10px auto; /* 좌우 auato하면 가운데로 감! */
       font-family: 'SuncheonB';
}
footer ul li a {
    color: rgb(97, 77, 77);
    font-weight: bold;
}
footer ul li:nth-child(1) { /* li:first-child {} <-- 써도됌!! */
    background-color: rgb(255, 255, 255);
    font-weight: bold;
}
footer ul li:first-child a {
    color: #333;
}
footer p {
    margin-top: 20px;
    font-size: 14px;
    color: rgba(90, 89, 89, 0.616);
}
footer h3 {
    color: rgb(248, 94, 94);
    font-family: 'SuncheonB';
}

/* 반응형 제작 
해상도 가로 960px 이하일 때 적용되는 스타일*/

@media screen and (max-width: 1280px) {
    /* 브라우저 너비 1280px 이하일때 스타일 */
    header div {width: 100%;}
    .main_visual .title {width: 100%;}
    .best_v .cont {width: 100%;}
    .motion .title p {width: 100%;}
    .motion .motion_cont .list_cont {width: 100%;}
    .g_ver05 .title em {width: 100%;}
    .g_ver05 .cont {width: 100%;}
    .g_ver05 .title {width: 100%;}
    .g_ver06 .cont {width: 100%;}
    .g_ver06 .title {width: 100%;}
    .g_ver06 .title em {width: 100%;}
    .about .cont {width: 100%;}
} /* 해상도 1280px이하 적용되는 범위 */

/* 960이하일때 이렇게 스타일을 적용시키겠다! */
@media screen and (max-width: 960px) {
    .best_v .cont {flex-wrap: wrap;} /* 세로로 떨어지도록? */
    .best_v .cont .youtube {width: 100%;}
    .best_v .cont .info {width: 90%; 
                         margin: 0 auto;
                         margin-top: 20px;}
    .best_v .cont .info p:nth-of-type(2) {
        margin: 10px 0 20px;
    }
    .motion .list {flex-wrap: wrap;}
    .motion .list li {margin-bottom: 10px;}
    .motion .motion_cont .list_cont.on {flex-wrap: wrap;}
    .motion .motion_cont .list_cont .items {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;}
    .g_ver05 .cont {flex-wrap: wrap;}
    .g_ver05 .cont .items {
        width: 95%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .g_ver06 .cont {flex-wrap: wrap;}
    .g_ver06 .cont .items {
        width: 93%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .about .cont {flex-wrap: wrap;}
    .about .cont figure {
        width: 300px;
        height: 300px;
        margin: 0 auto;
    }
    .about .cont figure img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .about .cont .info {
        width: 95%;
        margin: 0 auto;
    }

    body {
        overflow-x: hidden; /* 가로 스크롤바 없애는것 */
    }
}/* 해상도 960px 이하 */

@media screen and (max-width:640px) {
    header {height: 50px;
            line-height: 50px;}
    header div h1 {font-size: 18px;}
    header div i {font-size: 34px;
                  margin-top: 9px; /* 마진탑값 조절해주면 되요~  */
                  }
    header div h1 a {font-size: 16px;
                     margin-left: 10px;}
    header div a {font-size: 15px;
                  font-weight: bold;
                  margin-right: 10px; 
                  }
    .best_v .title h3 {font-size: 26px !important;}
    .main_visual .title {padding-left: 15px;
                         box-sizing: border-box;}
    .main_visual .title h2 {
        font-size: 22px;
        margin-top: 42px;
        padding-left: 43px;
        box-sizing: border-box;
    }
    .main_visual .title p {
        font-size: 9px !important;
        margin-bottom: 11px;
        padding-left: 46px;
        box-sizing: border-box;
        }
    .main_visual .title a {
            width: 69px;
            height: 28px;
            line-height: 28px;
            font-size: 11px;
            margin-left: 192px;
            position: relative;
            top: -54px;
            border-radius: 5px;
        }
    .main_visual figure video { width: 100%;} /* pc모드에서 오른쪽 검은선 없애려고 video width값 지우니까
                                                 폰모드에서 이상해져서 여기다 해줬음! */
    section .title h3 {
        font-size: 30px !important; /* !important:앞전의 우선순위 무시하고 지금꺼 적용한다? */
    }
    section .title p {
        font-size: 16px !important;
    }
    section .info h4 {
        font-size: 22px !important;
    }
    .motion .title h3 {
        font-size: 28px !important;
    }
    .motion .title p {
        width: 72%;
        font-size: 13px !important;
    }
    .motion .list_cont .items .info {
        padding: 15px;
    }
    .motion .list_cont .items .info dl dt {
        width: 30%;
    }
    .motion .list_cont .items .info dl dd {
        width: 70%;
        word-break: break-all; /* 줄바꿈 : 글자별 */
    }
    .g_ver05 .cont .items figure {
        height: 300px;
    }
    .g_ver05 .title p {
        padding-bottom: 8px;
    }
    .g_ver05 .title em {font-size: 9px;}
    .g_ver06 .title em {font-size: 9px;
                        padding-bottom: 3px;}
    .about .cont .info {width: 90%;}
    .about .cont .info div h4 {margin-bottom: 10px;}
    .about .cont .info div p { font-size: 16px; }
    .about .cont .info div dl dt{ font-size: 16px; }
    .about .cont .info div dl dd{ font-size: 16px; }
}/* 해상도 640px 이하 */